@model IEnumerable<UnitedWayPrototypeApplication.Models.ContributionListModel>

<h2>Contributions</h2>

<p>
    @Html.ActionLink("Create New Contribution", "CreateContribution")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Contribution ID", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("CWID", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("First Name", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Last Name", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Division", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Department", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Payment Type", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Monthly Amount", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Months", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Total Contribution", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Agency Name", "ContributionList")
        </th>
        <th>
            @Html.ActionLink("Giving Year", "ContributionList")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ContributionID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CWID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeFirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeLastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Division)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UWType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UWMonthly)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UWMonths)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.uwcontributionamount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AgencyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UWYear)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
